$primary: #2c7be5;
$secondary: #edf2f9;
$dark: #5e6e82;
$box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);


.padding-card {
    padding: 25px 30px;
}

@media (max-width: 991px) {
    .padding-card {
        padding: 15px;
    }   
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}

.App {
    padding: 30px;
    padding-bottom: 0;
    background: $secondary;
    min-height: 100vh;

    .app_container {
        min-height: calc(100vh - 30px);
        
        & > div {
            border-right: 1px solid $secondary;
            border-radius: 10px 10px 0 0;
            
            &:last-child {
                border: none;
            }
        }

        &--list {

            .list-employees {
                tbody > tr {
                    cursor: pointer;
                    
                    td {
                        max-width: 0;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}